<%- include('../partials/users/header.ejs') %>


    <!-- Checkout Section Begin -->
   <!-- Modal Trigger Button -->
<button type="button" class="primary-btn" data-bs-toggle="modal" data-bs-target="#addressModal">
    ENTER ADDRESS
</button>

<!-- Bootstrap 5 Modal -->
<div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addressModalLabel">ENTER ADDRESS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add-address" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>First Name<span>*</span></p>
                                <input type="text" name="fname" required>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Last Name<span>*</span></p>
                                <input type="text" name="lname" required>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__input">
                        <p>Country<span>*</span></p>
                        <input type="text" name="country" required>
                    </div>
                    <div class="checkout__input">
                        <p>State<span>*</span></p>
                        <input type="text" name="state" required>
                    </div>
                    <div class="checkout__input">
                        <p>Town/City<span>*</span></p>
                        <input type="text" name="city" required>
                    </div>
                    <div class="checkout__input">
                        <p>Address<span>*</span></p>
                        <input type="text" placeholder="Street Address" class="checkout__input__add" name="address" required>
                    </div>
                    <div class="checkout__input">
                        <p>Postcode / ZIP<span>*</span></p>
                        <input type="text" name="pin" required>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="checkout__input">
                                <p>Phone<span>*</span></p>
                                <input type="number" name="phone" required>
                            </div>
                        </div>
                    </div>
                    <div class="checkout__input">
                        <button class="primary-btn">SUBMIT</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    <%- include('../partials/users/footer.ejs') %>