
      
        <%- include('../partials/users/loginheader.ejs') %>
       
    
        <section class="container forms">
               
            <div class="form login">
               
                <div class="form-content">

                    <% if (message) { %>
                        <div class="alert alert-success " style="padding: 20px;">
                            <%= message %>
                        </div>
                    <% } %>
                    
                    <header>Please login now</header>
                    <form action="" method="post">
                        <div class="field input-field">
                            <input type="email" placeholder="Enter Email" name="email" class="input" 
                            required autocomplete="username">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Enter Password" name="password" class="password">
                            <i class='bx bx-hide eye-icon' ></i>
                        </div>

                        <div class="form-link">
                            <a href="/forgotpassword" class="forgot-pass">Forgot password?</a>
                        </div>

                        <div class="field button-field">
                            <button type="submit" value="submit">Login</button>
                        </div>
                    </form>

                    <div class="form-link">
                        <span>Don't have an account? <a href="/register" class="link signup-link">register</a></span>
                    </div>
                </div>

                <div class="line"></div>

                

                <div class="media-options">
                    <a href="#" class="field google">
                        <img src="images/google.png" alt="" class="google-img">
                        <span>Login with Google</span>
                    </a>
                </div>

            </div>

            
            <script>
                const forms = document.querySelector(".forms"),
          pwShowHide = document.querySelectorAll(".eye-icon"),
          links = document.querySelectorAll(".link");
    
    pwShowHide.forEach(eyeIcon => {
        eyeIcon.addEventListener("click", () => {
            let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");
             
            pwFields.forEach(password => {
                if(password.type === "password"){
                    password.type = "text";
                    eyeIcon.classList.replace("bx-hide", "bx-show");
                    return;
                }
                password.type = "password";
                eyeIcon.classList.replace("bx-show", "bx-hide");
            })
            
        })
    })      
    
    links.forEach(link => {
        link.addEventListener("click", e => {
           e.preventDefault(); //preventing form submit
           forms.classList.toggle("show-signup");
        })
    })
    </script>

           